<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>MercadoLiebre</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
    </head>
    <body>
        <header class="main-header">
        <div class="main-header-topbar">
            <img src="/img/logo-mercado-liebre.svg" alt="logo mercado-liebre" class="logo">
            
            <h2 class="compra-en-cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        <a class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                <a href="#">Tiendas oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>   
                </ul>   
            <ul class="right-navbar">
                <li>
                    <a href="/register">Crea tu cuenta <i class="far fa-id-card lis"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa <i class="fas fa-sign-in-alt lis"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>             
            </ul>
        </nav>
        
        <div ><img src="/img/img-home-banner.jpg" alt="fotoBanner" class="banner" /></div>           
        </header>  
        <section class="container-formulario">
            <form action="#" method="post">
                <div class="control-formulario">
                    <input type="text" name="nombre" placeholder="Nombre y apellido">
                </div>
                <div class="control-formulario">
                    <input type="text" name="usuario" placeholder="Nombre de usuario" required>
                </div>
                <div class="control-formulario">
                    <input type="email" name="email" placeholder="E-mail" required>
                </div>
                <div class="control-formulario">
                    <h3 class="h3-formulario">Fecha de nacimiento</h3>
                    <input type="date" name="fecha-nacimiento" required>
                </div>
                <div class="control-formulario">
                    <input type="domicilio" name="domicilio" placeholder="Domicilio" required>
                </div>
                <div>
                    <h3 class="h3-formulario">Perfil del usuario</h3>
                    <select name="perfil-usuario">
                        <option>Comprar</option>
                        <option>Vender</option>
                    </select>   
                </div>
                <div>
                    <h3 class="h3-formulario">Intereses</h3>
                    <div>          
                        <input type="checkbox" name="intereses" value="electro" id="electro">
                        <label>Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categorias-interes" value="moda">
                        <label>Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categorias-interes" value="moda">
                        <label>Hogar</label>
                    </div>
                    <div >
                        <input type="checkbox" name="categorias-interes" value="hogar">
                        <label>Juegueteria</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categorias-interes" value="vidasana">
                        <label>Vida sana</label>
                    </div>
                </div>
                <div class="control-date">
                    <h3 class="h3-formulario">Foto de perfil</h3>
                    <input type="file" name="foto-perfil">
                </div>
                <div class="control-formulario">
                    <input name="password" type="password" placeholder="Contraseña">
                </div>    
                <div class="control-formulario">
                    <input name="password" type="password" placeholder="Confirmar contraseña"> <br>
                </div>  
                <div class="control-botones">
                    <button type="submit"><a href="/">Registrarse</i></a></button>
                    <button type="reset">Borrar</button>
                </div>         
            </form>       
        </section>
        <footer>
            <section class="pie-de-pagina">
                <article>
                    <i class="fas fa-credit-card iconos-footer"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin<br> interés con tarjeta o efectivo en
                        puntos de<br> pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <i class="fas fa-gift iconos-footer"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>
                    Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en
                    miles de productos. Es<br> un beneficio de Mercado Puntos.
                    </p>
                </article>
                <article>
                    <i class="fas fa-user-shield iconos-footer"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br> no hay nada que no
                    puedas hacer, porque<br> estás siempre protegid@.
                    </p>
                </article>            
            </section>          
            <span class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </span>
        </footer>
    </body>
</html>